.table {
	margin-left: 20px;
	margin-right: 20px;
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 15px;
	background: #272727;
	font-size: 32px;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: center;
	border: none;
	padding: 10px 15px;
	font-size: 32px;
	vertical-align: top;
}
.table tbody tr:nth-child(even){
	background: #272727;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}